.about__section {
  display: grid;
  gap: 4rem;
  padding: 5rem 0rem;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

h2 {
  font-size: 3rem;
  color: var(--clr-normal-orange);
}

h3 {
  font-size: 1.5rem;
}

.school__grid {
  display: grid;
  margin-inline: auto;
  width: min(95%, 85%);
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.school {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.school__date {
  color: var(--clr-normal-orange);
}

.skills__grid {
  display: grid;
  width: min(95%, 60%);
  margin-top: 3rem;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}

.skills__grid > * {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__grid .card img{
  max-height: 7rem;
}

.skills__grid > *:hover {
  filter: grayscale(1);
}

.html-color {
  background-color: #e54d26;
}

.css-color {
  background-color: #1b7ebf;
}

.javascript-color {
  background-color: #dab92d;
}

.reactjs-color {
  background-color: #00d7fe;
}

.nodejs-color {
  background-color: #8bc500;
}

.php-color {
  background-color: #4f5b93;
}

.bootstrap-color {
  background: linear-gradient(to top left, #7209f5, #8f0bfd);
}

.github-color{
  background-color: #cac6c6;
}

.vuejs-color{
  background-color: #56ffb5;
}

@media screen and (width < 500px) {
  .school__grid {
    grid-template-columns: 1fr;
  }

  .skills__grid {
    grid-template-columns: 1fr 1fr;
  }
}
