.hero {
  padding: 8rem 0rem;
  background: linear-gradient(to bottom right, #e4eef7, #feffff);
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.hero__text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.personImage {
  max-width: 20rem;
  background-color: #e7eff8;
  border-radius: 10rem;
  visibility: hidden;
  box-shadow: 0rem 0rem 1rem var(--clr-dark-blue);
  animation: slideFromRight ease-in 1s forwards;
}


h1 {
  font-size: 4rem;
  animation: slideFromLeft ease-in 1s;
}

span {
  color: var(--clr-light-orange);
}

.position {
  color: #616263;
  font-size: 2rem;
  font-weight: 700;
  visibility: hidden;
  animation: slideFromLeft ease-in 1s forwards;
  animation-delay: 0.2s;
}

.shortInfo {
  color: #616263;
  visibility: hidden;
  animation: slideFromLeft ease-in 1s forwards;
  animation-delay: 0.4s;
}

.container {
  width: min(95%, 75rem);
  margin-inline: auto;
  gap: 1rem;
}

.heroButtons {
  gap: 1rem;
  visibility: hidden;
  animation: slideFromLeft ease-in 1s forwards;
  animation-delay: 0.6s;
}

.heroButtons > * {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: ease-in-out, 0.5s;
  text-decoration: none;
}

.hireMeBtn {
  color: #fff;
  background: linear-gradient(
    to bottom right,
    var(--clr-light-orange),
    var(--clr-normal-orange)
  );
}

.downloadCVBtn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: linear-gradient(to bottom right, #e4eef7, #fffeff);
  box-shadow: 0rem 0rem 0.5rem rgb(128, 125, 125);
  color: #000;
  border: none;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.heroButtons > *:hover {
  transform: scale(1.1);
}

@media screen and (width < 850px) {
  .home__section {
    flex-direction: column;
    align-items: center;
  }

  .personImage {
    max-width: 15rem;
  }

  .hero__image {
    margin-top: 2rem;
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
