.navBar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
}

.email {
  display: flex;
  gap: 0.5rem;
}

.text__email {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  max-width: 3rem;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 1rem;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  font-weight: 500;
}

.logo:hover {
  transform: scale(1.1);
}

.email:hover a, i {
  color: var(--clr-light-orange);
}

ul li a:hover {
  border-bottom: 3px solid var(--clr-light-orange);
}
